openapi: 3.1.0
info:
  title: Pact API
  version: 0.1.0
  description: Pre-v1 HTTP contract for Pact Workers. This file is the source of truth until route-level runtime schemas are introduced.
servers:
  - url: https://api.getpact.dev
tags:
  - name: issuer
  - name: verifier
  - name: admin
  - name: audit
  - name: gateway
  - name: mcp
security:
  - bearerAuth: []
paths:
  /health:
    get:
      tags: [issuer]
      summary: Health check
      security: []
      responses:
        "200":
          description: Worker is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
  /v1/dev/issue:
    post:
      tags: [issuer]
      summary: Issue a development token
      description: Available only when ENABLE_DEV_ISSUE=true and ENVIRONMENT is not production. Non-test environments require x-pact-dev-issue-secret.
      security:
        - devIssueSecretAuth: []
      parameters:
        - in: header
          name: x-pact-dev-issue-secret
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspaceId, email, audience]
              properties:
                workspaceId:
                  type: string
                  format: uuid
                email:
                  type: string
                  format: email
                audience:
                  $ref: "#/components/schemas/Audience"
      responses:
        "200":
          description: Token issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssuedToken"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Development issue endpoint is disabled or not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/Error"
  /v1/workspaces:
    post:
      tags: [issuer]
      summary: Create a workspace
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, name, adminEmail]
              properties:
                slug:
                  type: string
                name:
                  type: string
                region:
                  type: string
                adminEmail:
                  type: string
                  format: email
                adminName:
                  type: string
      responses:
        "201":
          description: Workspace created.
          content:
            application/json:
              schema:
                type: object
                required: [workspaceId, adminUserId, jwtKeyId, auditKeyId]
                properties:
                  workspaceId:
                    type: string
                    format: uuid
                  adminUserId:
                    type: string
                    format: uuid
                  jwtKeyId:
                    type: string
                  auditKeyId:
                    type: string
  /v1/oauth/google/exchange:
    post:
      tags: [issuer]
      summary: Exchange a Google OAuth code for Pact tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspaceId, code, codeVerifier, redirectUri, audience]
              properties:
                workspaceId:
                  type: string
                  format: uuid
                code:
                  type: string
                codeVerifier:
                  type: string
                redirectUri:
                  type: string
                  format: uri
                audience:
                  $ref: "#/components/schemas/Audience"
      responses:
        "200":
          description: Token issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssuedToken"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/Error"
  /v1/refresh:
    post:
      tags: [issuer]
      summary: Redeem a refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspaceId, refreshToken, audience]
              properties:
                workspaceId:
                  type: string
                  format: uuid
                refreshToken:
                  type: string
                audience:
                  $ref: "#/components/schemas/Audience"
      responses:
        "200":
          description: Token issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssuedToken"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/Error"
  /v1/workspaces/{workspaceId}/.well-known/jwks.json:
    get:
      tags: [issuer]
      summary: Workspace JWT JWKS
      security: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: JWKS document.
          headers:
            cache-control:
              schema:
                type: string
              description: Public cache directive for workspace signing keys.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Jwks"
  /v1/workspaces/{workspaceId}/.well-known/audit-jwks.json:
    get:
      tags: [issuer]
      summary: Workspace audit JWKS
      security: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: JWKS document.
          headers:
            cache-control:
              schema:
                type: string
              description: Public cache directive for workspace audit signing keys.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Jwks"
  /v1/verify:
    post:
      tags: [verifier]
      summary: Verify a requested action against policy
      security:
        - verifierServiceAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyRequest"
      responses:
        "200":
          description: Allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
        "400":
          description: Invalid audience.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid verifier service token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Denied by policy or token validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
        "503":
          description: Verifier service token not configured in production.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/workspaces/{workspaceId}/users:
    get:
      tags: [admin]
      summary: List users
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Users.
          content:
            application/json:
              schema:
                type: object
                required: [users]
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
    post:
      tags: [admin]
      summary: Create a user
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
      responses:
        "201":
          description: User created.
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user:
                    $ref: "#/components/schemas/User"
  /v1/workspaces/{workspaceId}/groups:
    post:
      tags: [admin]
      summary: Create a group
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupCreate"
      responses:
        "201":
          description: Group created.
          content:
            application/json:
              schema:
                type: object
                required: [group]
                properties:
                  group:
                    $ref: "#/components/schemas/Group"
  /v1/workspaces/{workspaceId}/groups/{groupId}/members:
    post:
      tags: [admin]
      summary: Add a user to a group
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - in: path
          name: groupId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId:
                  type: string
                  format: uuid
      responses:
        "201":
          description: Member added.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
  /v1/workspaces/{workspaceId}/policies:
    get:
      tags: [admin]
      summary: List policies
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Policies.
          content:
            application/json:
              schema:
                type: object
                required: [policies]
                properties:
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/PolicySummary"
    post:
      tags: [admin]
      summary: Create a policy version
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: object
      responses:
        "201":
          description: Policy created.
          content:
            application/json:
              schema:
                type: object
                required: [policy]
                properties:
                  policy:
                    $ref: "#/components/schemas/PolicySummary"
  /v1/workspaces/{workspaceId}/revocations:
    post:
      tags: [admin]
      summary: Revoke a token JTI
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevocationCreate"
      responses:
        "201":
          description: Token revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
  /v1/workspaces/{workspaceId}/invites:
    post:
      tags: [admin]
      summary: Create an invite
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteCreate"
      responses:
        "201":
          description: Invite created.
          content:
            application/json:
              schema:
                type: object
                required: [invite]
                properties:
                  invite:
                    $ref: "#/components/schemas/Invite"
  /v1/workspaces/{workspaceId}/brains:
    get:
      tags: [admin]
      summary: List gateway brains
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Brains.
          content:
            application/json:
              schema:
                type: object
                required: [brains]
                properties:
                  brains:
                    type: array
                    items:
                      $ref: "#/components/schemas/Brain"
    post:
      tags: [admin]
      summary: Create a gateway brain
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrainCreate"
      responses:
        "201":
          description: Brain created.
          content:
            application/json:
              schema:
                type: object
                required: [brain]
                properties:
                  brain:
                    $ref: "#/components/schemas/Brain"
  /v1/workspaces/{workspaceId}/brains/{brainId}:
    delete:
      tags: [admin]
      summary: Delete a gateway brain
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - in: path
          name: brainId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Brain deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
  /v1/workspaces/{workspaceId}/brains/{brainId}/credential:
    put:
      tags: [admin]
      summary: Store a gateway brain bearer credential
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - in: path
          name: brainId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Credential stored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
  /v1/workspaces/{workspaceId}/audit/events:
    get:
      tags: [audit]
      summary: List audit events
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - in: query
          name: action
          schema:
            type: string
        - in: query
          name: since
          schema:
            type: string
            format: date-time
        - in: query
          name: until
          schema:
            type: string
            format: date-time
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
      responses:
        "200":
          description: Audit events.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditEventsPage"
  /v1/workspaces/{workspaceId}/audit/workspace:
    get:
      tags: [audit]
      summary: Workspace metadata for audit verification
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Workspace metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditWorkspace"
  /v1/workspaces/{workspaceId}/audit/chain:
    get:
      tags: [audit]
      summary: Current audit chain head
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Chain head.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditChainHead"
  /{workspace}/mcp:
    post:
      tags: [mcp]
      summary: JSON-RPC MCP endpoint for a workspace
      parameters:
        - in: path
          name: workspace
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: JSON-RPC response.
  /{workspace}/gateway/{brain}/{path}:
    parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: brain
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
    x-pact-note: Gateway accepts all HTTP methods and forwards only configured request headers.
    x-pact-opaque-upstream: true
    get:
      tags: [gateway]
      summary: Gateway GET to a brain upstream
      responses:
        "200":
          description: Upstream response.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Error"
        "502":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
        "504":
          $ref: "#/components/responses/Error"
    post:
      tags: [gateway]
      summary: Gateway POST to a brain upstream
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Upstream response.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Error"
        "502":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
        "504":
          $ref: "#/components/responses/Error"
    put:
      tags: [gateway]
      summary: Gateway PUT to a brain upstream
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Upstream response.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Error"
        "502":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
        "504":
          $ref: "#/components/responses/Error"
    patch:
      tags: [gateway]
      summary: Gateway PATCH to a brain upstream
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Upstream response.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Error"
        "502":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
        "504":
          $ref: "#/components/responses/Error"
    delete:
      tags: [gateway]
      summary: Gateway DELETE to a brain upstream
      responses:
        "200":
          description: Upstream response.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Error"
        "502":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
        "504":
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    verifierServiceAuth:
      type: http
      scheme: bearer
      description: Shared service token used by internal callers.
    devIssueSecretAuth:
      type: apiKey
      in: header
      name: x-pact-dev-issue-secret
      description: Required outside ENVIRONMENT=test when the dev issue endpoint is enabled.
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated request is not allowed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource was not found or is not exposed in this environment.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    PayloadTooLarge:
      description: Request body is too large.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Too many requests.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  parameters:
    workspaceId:
      in: path
      name: workspaceId
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    Ok:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
        message:
          type: string
    Audience:
      type: string
      enum: [pact-admin, pact-audit, pact-mcp, pact-gateway]
    Jwks:
      type: object
      required: [keys]
      properties:
        keys:
          type: array
          items:
            type: object
            required: [kty, crv, x, kid, alg, use]
            properties:
              kty:
                type: string
                enum: [OKP]
              crv:
                type: string
                enum: [Ed25519]
              x:
                type: string
              kid:
                type: string
              alg:
                type: string
                enum: [EdDSA]
              use:
                type: string
                enum: [sig]
    IssuedToken:
      type: object
      required: [token, jti, exp, userId, refreshToken, refreshExpiresAt]
      properties:
        token:
          type: string
        jti:
          type: string
          format: uuid
        exp:
          type: integer
        userId:
          type: string
          format: uuid
        refreshToken:
          type: string
        refreshExpiresAt:
          type: string
          format: date-time
    VerifyRequest:
      type: object
      required: [token, action, resource]
      properties:
        token:
          type: string
        action:
          type: string
        resource:
          type: string
        audience:
          type: string
    VerifyResponse:
      type: object
      required: [allow, reasons]
      properties:
        allow:
          type: boolean
        reasons:
          type: array
          items:
            type: string
        sub:
          type: string
    User:
      type: object
      required: [id, email]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    Group:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    PolicySummary:
      type: object
      required: [id, version]
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
        createdAt:
          type: string
          format: date-time
        replacedAt:
          type: string
          format: date-time
          nullable: true
    Invite:
      type: object
      required: [id, email, expiresAt]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        expiresAt:
          type: string
          format: date-time
    Brain:
      type: object
      required: [id, kind, baseUrl]
      properties:
        id:
          type: string
          format: uuid
        kind:
          type: string
        baseUrl:
          type: string
          format: uri
        authScheme:
          type: string
          enum: [none, bearer]
        status:
          type: string
        createdAt:
          type: string
          format: date-time
    AuditEvent:
      type: object
      required: [id, workspaceId, auditSeq, ts, actorKind, action, target, decision, signingKeyId, prevHash, thisHash, signature]
      properties:
        id:
          type: string
          format: uuid
        workspaceId:
          type: string
          format: uuid
        auditSeq:
          type: integer
        ts:
          type: string
          format: date-time
        actorKind:
          type: string
        actorId:
          type: string
          nullable: true
        action:
          type: string
        target:
          type: object
        decision:
          type: string
        supporting:
          type: object
        signingKeyId:
          type: string
        prevHash:
          type: string
        thisHash:
          type: string
        signature:
          type: string
    AuditEventsPage:
      type: object
      required: [events, nextCursor]
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/AuditEvent"
        nextCursor:
          type: string
          nullable: true
    AuditWorkspace:
      type: object
      required: [id, slug, createdAt]
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        createdAt:
          type: string
          format: date-time
    AuditChainHead:
      type: object
      required: [head]
      properties:
        head:
          oneOf:
            - type: "null"
            - type: object
              required: [lastHash, lastEventId, updatedAt]
              properties:
                lastHash:
                  type: string
                lastEventId:
                  type: string
                  format: uuid
                updatedAt:
                  type: string
                  format: date-time
    GroupCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
    RevocationCreate:
      type: object
      required: [jti]
      properties:
        jti:
          type: string
        reason:
          type: string
    InviteCreate:
      type: object
      required: [email, scope, ttl]
      properties:
        email:
          type: string
          format: email
        scope:
          type: object
        ttl:
          type: string
          enum: [1d, 1w, 1m]
    BrainCreate:
      type: object
      required: [kind, baseUrl]
      properties:
        kind:
          type: string
          pattern: "^[a-z][a-z0-9-]{0,32}$"
        baseUrl:
          type: string
          format: uri
        authScheme:
          type: string
          enum: [none, bearer]
        scopeInjectionTemplate:
          type: object
          maxProperties: 0
